body {
	margin: 0;
	padding: 0;
}

#map {
    position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.marker {
	background-image: url('../assets/box.png');
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
}

.mapboxgl-popup {
	max-width: 50%;
	width: 50%;
}

.mapboxgl-popup-content {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
.map_popup_single_title
{
	font-weight: 600;
}
.map_popup_single_body {
	font-weight: 300;
}

.modal-dialog{
	max-width: none;
	width:100% ;
}
#dynamicTable
{
	max-width: 80%;
}
.modal_inner_wrapper_wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
}