.navbar-toggler.circle-button {
    width: 50px;
    /* Adjust the width as needed */
    height: 50px;
    /* Adjust the height as needed */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #ffffff;
}
.landing-panel {
    padding: 40px;
    text-align: center;
    margin-top: 45%;
}